* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0px 100px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}
.logo {
    cursor: pointer;
}

.checkLabel {
    font-size: 30px;
    order: 1;
    display: none;
}

#check {
    display: none;
}
nav ul {
    display: flex;
    list-style: none;
}
nav ul li {
    padding: 10px;
}
nav ul li a{
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    padding: 0px 5px;
    color: rgb(255, 128, 0);
}
nav ul li a:hover {
    color: rgba(255, 166, 0, 0.758);
    border-bottom: 5px solid orange;
    transition: 0.5s;
}

.header-button {
    font-size: 20px;
    text-decoration: none;
    background-color: rgb(72, 255, 0);
    padding: 20px;
    border-radius: 50px 100px;
    color: rgb(0, 0, 0);
}

.header-button:hover {
    color: rgb(0, 0, 0);
    background-color: orange;
    transition: .5s;
}

slider-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-text {
    font-size: 25px;
}

slider-section h1 {
    margin: 15px 0px;
}

.slider-btn {
    margin-top: 50px;
}
.slider-button {
    text-decoration: none;
    background-color: rgb(72, 255, 0);
    padding: 20px;
    border-radius: 50px 100px;
    color: rgb(0, 0, 0);
}

.slider-button:hover {
    color: rgb(0, 0, 0);
    background-color: orange;
    transition: .5s;
}

/* product-section */
.product-section {
    width: 100%;
    height: 450px;
    background-color: aqua;
    margin-top: 80px;
    border-radius: 30px;
    position: relative;
}
.product-top{
    display: flex;
}

.product-bottom  {
    display: flex;
    margin-top: 200px;
}
.product {
    width: 250px;
    height: 200px;
    margin: 0px 50px;
    background-color: rgb(221, 160, 29);
    border-radius: 30px;
    position: absolute;
    top: -50px;
    left: 50px;
    position: relative;
}

.product-img-1 {
    position: absolute;
    bottom: 80px;
}
/* ========================================= */
benefit-section {
    display: flex;
    margin-top: 250px;
}
.benefit {
    border-radius: 20px;
}
.us {
    font-size: 20px;
    margin-left: 50px;
    margin-bottom: 50px;
    line-height: 35px;
}

.healthy {
    display: flex;
    font-size: 20px;
    margin-left: 50px;
    line-height: 35px;
}

.healthy-img2 {
    border-radius: 10px;
    width: 280px;
}

.check-healthy {
    margin-left: 50px;
}

.check-healthy ul li{
   list-style: none;
}

/* footer */
footer {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.so-abo {
    display: flex;
    justify-content: space-around;
}

.fea-mem {
    display: flex;
    justify-content: space-around;
}
.footer-logo {
    width: 350px;
    font-size: 22px;
    font-weight: 500;
}

.social, .about, .featrues, .mambership{
    margin: 0px 30px;
}
footer h2 {
    color: orange;
    margin-bottom: 50px;
}

footer ul li {
    list-style: none;
    margin-bottom: 10px;
}
footer a {
    color: rgb(255, 128, 0);
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}

footer a:hover {
    color: orange;
    transition: 0.5s;
}
.copy-right {
  margin: 30px;
  text-align: center;
}